.loading-skeleton {
    width: 100%;
    height: 6rem;
    margin-top: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &__image {
        width: 30%;
        height: 100%;
    }

    &__info {
        flex: 1;
        padding: 1rem;
    }
}

.hero-skeleton {
    width: 95%;
    margin-top: 1rem;

    &__image {
        width: 100%;
        height: 20rem;
    }

    &__title {
        width: 100%;
        margin-top: 1rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-name {
            width: 50%;
            height: 2rem;
        }

        &-svg {
            margin-top: 1rem;
            width: 3rem;
            height: 3rem;
        }
    }

    ul {
        list-style: none;
    }

    h3 {
        width: 50%;
        margin-top: 1rem;
    }
}
